name: build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: setup-java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: build
        run: mvn -B clean package

      - name: upload-artifact
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: target/*.jar
